/* ESTILO GERAL */
 * {

 }

/* INICIO HEADER */

.middle-content-section h1 {
  font-family: 'Fredericka the Great', cursive;
}

.top-bar,
.top-bar ul {
    background-color:transparent;
}

.hero-full-screen {
    height: 90vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("http://placehold.it/1500/3d3d3d/?text=+") center center no-repeat;
    background-size: cover;
  }
  
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
  }
  
  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 2.75rem;
    width: 2.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu-text {
    color: #fefefe;
  }
  
  .hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-full-screen .top-bar .menu a {
    color: darkgrey;
    font-weight: bold;
  }
  
  
/* FIM HEADER  */

/* GRID DE PRODUTO */

.daily-grid h1,
.product-grid h1 {
  font-size: 1.07em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.daily-grid figure,
.product-grid figure {
  max-width: 100%;
  margin: 0 auto .5rem;
  position: relative
}

.value {
  display: block;
  height: 34px;
  font-size: 1.4em;
  color: #24292d;
  font-weight: 700
}

/* INÍCIO FOOTER */

.footer {
    padding: 1rem 0;
    align-items: center;
    color:#fefefe;
}

.footer a {
  color:#fefefe;
  font-weight: bold;
}

.footer-info {
    background-color: #74474F;
}

.footer-details {
  background-color: #C15666;
  margin-top: 40px;
}

.footer .info p {
  margin-bottom: 0;
}


.facebook {
	background-image: url(.\images\facebook.png);
}

/* FIM FOOTER */