.flickity-button {
    background: none;
}

.flickity-button:hover {
    background: none;
}

.flickity-prev-next-button {
    top: 100%;
    -webkit-transform: none;
    transform: none;
}

.flickity-prev-next-button.previous {
    left: auto;
    right: 50%;
}

.flickity-prev-next-button.next {
    right: 45%;
}

.main-carousel-cell, 
.carousel-cell {
    max-height: 400px;
    margin-right: 10px; 
    p, span,
    p:hover, span:hover {
        color:white;
    }
}

@include breakpoint(small only) {
    .main-carousel-cell, 
    .carousel-cell {
        width: 75%;
    }
}

@include breakpoint(medium only) {
    .main-carousel-cell, 
    .carousel-cell {
        width: calc( ( 100% - 20px ) / 2);
    }
}

@include breakpoint(large) {
    .main-carousel-cell, 
    .carousel-cell {
        width: calc( ( 100% - 20px ) / 3);
    }
}