.footer {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    padding: 1rem 0;
    align-items: center;
    background: url(/images/sparkles.gif);
    background-position: top;
    background-repeat: repeat;
    background-color: #f5928b; //#00b9c1
    color: #fff
}

.footer .info p {
    margin-bottom: 0;
}