.footer {
    padding: 1rem 0;
    align-items: center;
    color:#fefefe;
  }
  
  .footer a {
    color:#fefefe;
    font-weight: bold;
  }
  
  .footer-info {
    background-color: #74474F;
  }
  
  .footer-details {
    background-color: #C15666;
    margin-top: 40px;
  }
  
  .footer .info p {
    margin-bottom: 0;
  }
  
  
  .facebook {
      background-image: url(.\images\facebook.png);
  }