.line {
    border-top: 1px solid $medium-gray;
}

.footer {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    padding: 1rem 0;
    align-items: center;
    background-position: top;
    background-repeat: repeat;
    background-color: #fff;
    color: $black;
    padding: 40px 0px 60px 0;
    h6 {
        text-transform: uppercase;
        font-weight: 700;
        color: $primary-color;
    }
    a {
        color: $black;
    }
    a:hover {
        color: $primary-color;
    }
    .menu-text {
     text-transform: uppercase;
    }
}

.footer__social .icon {
    width: 1.375rem;
    height: 1.375rem;
    fill: #8e8e8e;
}

.footer__social .icon-facebook {
    width: 1.125rem;
    height: 1.4375rem;
}

.footer__social .icon-instagram {
    width: 1.175rem;
    height: 1.375rem;
}

.icon svg {
    width: inherit;
    height: inherit;
    fill: inherit;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: cubic-bezier(.455, .03, .515, .955);
    transition-timing-function: cubic-bezier(.455, .03, .515, .955);
}

.footer__social__link:hover .icon {
    fill: $primary-color;
}