$topbar-sticky-shrink-padding: 0rem;
$topbar-sticky-shrink-bg: #fff;
$topbar-sticky-stuck-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
$topbar-sticky-font-size: 0.8em;
nav {
    width: 100%;
    position: fixed;
    left: 0px;
    top: -4.25em;
    height: 4.25em;
    background-color: #fff;
    z-index: 99;
    -webkit-box-shadow: $topbar-sticky-stuck-shadow;
    -moz-box-shadow: $topbar-sticky-stuck-shadow;
    box-shadow: $topbar-sticky-stuck-shadow;
    overflow: hidden
}

#header {
    height: 100%;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000
}

.top-bar,
.top-bar ul {
    background-color: $topbar-sticky-shrink-bg;
}

.topbar-sticky-shrink {
    padding: $topbar-sticky-shrink-padding;
    transition: padding 0.25s ease;
    background: $topbar-sticky-shrink-bg;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $topbar-sticky-font-size;
    .top-bar-center {
        margin: 0 auto;
    }
    a {
        text-align: center;
        line-height: 4.25em;
        padding: .7rem 2rem
    }
}

.topbar-sticky-shrink-header {
    padding: 20rem 0;
    background-size: cover;
}

div.fb-like.fb_iframe_widget {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999
}