$topbar-sticky-shrink-padding: 0rem;
$topbar-sticky-shrink-bg: #fff;
$topbar-sticky-stuck-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
$topbar-sticky-font-size: 0.8em;
$topbar-header-size: 4.25em;
nav {
    width: 100%;
    position: fixed;
    left: 0px;
    top: -4.25em;
    height: $topbar-header-size;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    -webkit-box-shadow: $topbar-sticky-stuck-shadow;
    -moz-box-shadow: $topbar-sticky-stuck-shadow;
    box-shadow: $topbar-sticky-stuck-shadow;
    overflow: hidden;
    h4 {
        font-size: 0.8em;
        margin: 0px;
        padding: 0px;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        -webkit-margin-before: 1.33em;
        -webkit-margin-after: 1.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
}

#header {
    height: 100%;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000
}

.spirit {
    background: url('/images/Banner_v2.png') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    overflow: hidden
}

.image-header {
    display: none;
}

.top-bar,
.top-bar ul {
    background-color: $topbar-sticky-shrink-bg;
}

.topbar-sticky-shrink {
    padding: $topbar-sticky-shrink-padding;
    transition: padding 0.25s ease;
    background: $topbar-sticky-shrink-bg;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $topbar-sticky-font-size;
    .top-bar-center {
        margin: 0 auto;
    }
    a {
        padding: 28px;
    }
    a.button {
        margin-top: 14px;
    }
}

.topbar-sticky-shrink-header {
    padding: 20rem 0;
    background-size: cover;
}

div.fb-like.fb_iframe_widget {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999
}

$scrollhide-nav-transition-speed: 0.5s;
.scrollhide-nav {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-box-shadow: $topbar-sticky-stuck-shadow;
    -moz-box-shadow: $topbar-sticky-stuck-shadow;
    box-shadow: $topbar-sticky-stuck-shadow;
    z-index: 1;
    &.hidden {
        transform: translateY(-100%);
    }
    .title-bar {
        min-height: 4.375rem;
    }
}

#nav-icon4 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: .1875rem;
        ;
        width: 100%;
        background: #d3531a;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 0px;
}

.navigation__overlay {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 350ms;
    transition-duration: 350ms;
    -webkit-transition-timing-function: cubic-bezier(.455, .03, .515, .955);
    transition-timing-function: cubic-bezier(.455, .03, .515, .955);
}

.nav-expanded .navigation__overlay {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.fixed {
    position: fixed;
}

.pin {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-grey-darkest {
    background-color: #202020;
}