@include breakpoint(small only) {
    .quote {
        top: 0;
        padding-bottom: 20px;
    }
    .footer {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .responsive-bottom-space {
        padding-bottom: 50px;
    }
    .footer .info {
        padding-top: 0px;
    }
}