@include breakpoint(small only) {
    .quote {
        top: 0;
        padding-bottom: 20px;
    }
    .footer {
        text-align: center;
        .menu {
                justify-content: center;
        }
    }
    .responsive-bottom-space {
        padding-bottom: 50px;
    }
    .stripe {
        padding:0;
    }
    #header {
        height: auto;
    }
    .image-header {
        display: block;
    }
}