<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Associação Novo Rumo Atibaia</title>
    <link rel="stylesheet" href="/css/app.min.css">
    <link rel="stylesheet" href="/css/app-effects.css" async>
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" async> -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" async>
</head>

<body>
    <header id="header" class="topbar-sticky-shrink-header">
    </header>

    <div data-sticky-container>
        <div data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">
            <div class="top-bar topbar-sticky-shrink">
                <div class="top-bar-center">
                    <ul class="menu">
                        <li>
                            <a href="#">Quem somos</a>
                        </li>
                        <li>
                            <a href="#">Dia-a-dia</a>
                        </li>
                        <li>
                            <a href="#">Seja um doador</a>
                        </li>
                        <li>
                            <a href="#">Loja</a>
                        </li>
                        <li>
                            <a href="#">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="medium-12 large-12 small-12 cell">
            <a href="https://www.google.com.br/maps/place/R.+Papa+Paulo+VI,+182+-+Vila+Thais,+Atibaia+-+SP/@-23.122769,-46.5545689,17z/data=!3m1!4b1!4m5!3m4!1s0x94cec0e1a81e3e05:0x6558c6c63c8ed231!8m2!3d-23.1227739!4d-46.5523802"
                target="_blank">
                <img src="/images/mapa-maior.png" alt="Map">
            </a>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell text-center">
                <h2>Entre em contato</h1>
            </div>

            <div role="form" class="medium-12 large-12 small-12 cell">
                <label>Nome (Obrigatório)
                    <input type="text">
                </label>

                <label>Email (Obrigatório)
                    <input type="email">
                </label>

                <label>Assunto
                    <input type="text">
                </label>

                <label>Mensagem (Obrigatório)
                    <textarea cols="40" rows="10" aria-invalid="false"></textarea>
                </label>

                <input type="submit" value="Enviar" class="button primary hollow large">
            </div>
        </div>

        <div class="footer">
            <div class="grid-x grid-padding-x ">
                <div class="small-6 cell">
                    <h6>Sobre nós</h6>
                </div>
                <div class="small-6 cell">
                    <h6>Contato</h6>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="small-6 cell">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>
                        In eu sagittis felis. Etiam ante dui, iaculis vel augue et, gravida blandit nunc.</p>
                </div>
                <div class="small-6 cell">
                    <a href="#">
                        <div class="facebook social-icon">
                            <img src="/images/fb.png" />
                        </div>
                    </a>
                    <a href="#">
                        <div class="email social-icon">
                            <img src="/images/mail.png" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid-x grid-padding-x info">
                <div class="small-6 cell">
                    <p>Desenvolvido com carinho por Victor Fontana</p>
                </div>
            </div>

        </div>

    </div>

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/foundation.js"></script>

    <script>
        $(document).foundation();
    </script>
</body>

</html>